html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    height: 100%;
}

#sapper {
    height: 100%;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

.theme-button {
    border-radius: 50px;
    background-color: rgba(0, 200, 128, 0.7);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.theme-button:focus {
    outline: 0;
}

.theme-button:hover {
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.close {
    position: absolute;
    right: 15px;
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
    line-height: 25px;
    max-width: 65%;
}

.tooltip .tooltiptext {
    visibility: hidden;
    padding: 0 20px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
    min-width: 100px;
    z-index: 1;
    position: fixed;
    margin-left: 10px;
}

.tooltip .tooltiptext.right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
}

.tooltip .tooltiptext.left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100%;
    margin-left: 0;
    margin-right: 10px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: ' ';
    position: absolute;
    border-width: 5px;
    border-style: solid;
    top: 8px;
    right: 100%;
    border-color: transparent black transparent transparent;
}

.tooltip .tooltiptext.right::after {
    top: 50%;
    transform: translateY(-50%);
}

.tooltip .tooltiptext.left::after {
    top: 50%;
    transform: translateY(-50%);
    right: unset;
    left: 100%;
    border-color: transparent transparent transparent black;
}

@media (min-width: 400px) {
    body {
        font-size: 16px;
    }
}
